################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiTest
.vs/Arch_4lab/v15/Server/sqlite3/storage.ide-shm
.vs/Arch_4lab/v15/Server/sqlite3/storage.ide-wal
